Body{
    background-color:azure;
    color: darkslateblue;
    margin: 5px;
    padding: 2xp;
}
header,
footer{
    text-align: right;
    background-color:gainsboro;
}
nav{
    background-color:plum;
}
h2,
h3,
h4{
    color:crimson;
    text-decoration-line: underline;
}
p{
    text-align: justify;
    text-indent: 8ch;
}